#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog -S Version)

%:
	dh $@

override_dh_auto_build:
	HOME=$(CURDIR) GOMODCACHE=$(CURDIR)/.gomodcache GOCACHE=$(CURDIR)/.gocache GOTOOLCHAIN=local GOFLAGS=-mod=vendor go build -ldflags="-s -w -X main.version=$(DEB_VERSION)" -o fastdedup .

override_dh_auto_install:
	install -D -m 0755 fastdedup debian/fastdedup/usr/bin/fastdedup
	install -D -m 0644 debian/fastdedup.default debian/fastdedup/etc/default/fastdedup
	install -D -m 0755 debian/fastdedup-cron debian/fastdedup-daily/etc/cron.daily/fastdedup
	install -D -m 0755 debian/fastdedup-cron debian/fastdedup-weekly/etc/cron.weekly/fastdedup

override_dh_auto_test:
	# skip tests for PPA build

override_dh_dwz:
	# skip dwz for Go binaries

override_dh_strip:
	# skip strip for Go binaries
